<link rel="stylesheet" href="/static/style.css">

<div class="container">
  <h1>Relatar Ocorrência</h1>

  <form method="POST">

    <label>Cidade:</label>
    <input name="cidade">

    <label>Bairro:</label>
    <input name="bairro">

    <label>Rua/Ponto de Referência:</label>
    <input name="rua">

    <label>Mensagem:</label>
    <textarea name="mensagem"></textarea>

    <button type="submit">Enviar</button>
  </form>

  <a class="back-link" href="/database">Ver Lista de Ocorrências</a>
  <a class="back-link" href="/buscar">Buscar</a>
</div>
